@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');


body {
    background-color: #f5f6fa;
}

.form-register {
    font-family: 'Poppins', sans-serif;
    padding-top: 15vh;
}

.register-button {
    margin: 0 auto;
    display: block;
}

.login-link {
    padding-top: 2em;
}